<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Online Marketplace</title>
</head>
<body bgcolor="#f0ffff">

<div class="px-6 py-6">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
